.headTable,
.tableLookUp,
.search {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* width: 100%; */
}

.tableLookUp {
    width: 50%;
    margin-left: 15%;
}

.search {
    justify-content: unset;
    border: none;
    border-bottom: 1px solid black;
    /* width: 400px; */
    margin-right: 5em;

}

.pagination {
    width: 50%;
    margin-left: 2em;
    overflow: hidden;
}