.invoice {
    background: #27AE60;
    color: #fff;
    border-radius: 30px;
    width: 178px;
    padding: 1em;
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.2px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}