

.dashboardBody{
  display: flex;
}

.dashboadLeft{
  width: 20%;
}
.dashboadRight{
  width: 80%;
  background-color: rgb(240, 242, 247);
}

ul{
  list-style:none;
}
.blackCircle{
  background-color: black;
  border-radius: 50%;
}